.dark-layout .form-control[type=file]::-webkit-file-upload-button {
  background-color: #283046;
}
.dark-layout .form-control[type=file]::file-selector-button {
  background-color: #283046;
}

.auth-basic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
}
